.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1rem;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card h3 {
  margin: 0.5rem 0;
}

.card p {
  margin: 0px;
  font-size: 0.8rem;
  color: var(--grey-text);
}

.tags {
  margin: 0.5rem 0;
}

.tag {
  background: #eee;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
}

.updatedText {
  font-size: 0.8rem;
  color: var(--grey-text);
}
