:root {
  /* Light Mode */
  --bg-color: #f6f7f9;
  --surface-color: #ffffff;
  --header-bg: #ffffff;
  --card-bg: #ffffff;

  --text-primary: #111111;
  --text-secondary: #555555;

  --border-color: #e2e2e2;
  --badge-bg: #e8edf5;
  --badge-text: #1a1a1a;
}

[data-theme="dark"] {
  --bg-color: #141414;
  --surface-color: #1a1a1a;
  --header-bg: #1b1b1b;
  --card-bg: #202020;

  --text-primary: #eaeaea;
  --text-secondary: #a0a0a0;

  --border-color: #2c2c2c;
  --badge-bg: #2a2f3a;
  --badge-text: #dcdcdc;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
